.container {
  background-color: #8a2b06;
  border: none;
}

.icon {
  color: white;
  font-size: 35px;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: #8a2b06;
}

.badge {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 20px;
  color: #eee;
  background-color: #f02d34;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}
/* */

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 768) {
}
